body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 200px; 
}


#calcDisplay {
    width: 400px; 
    height: 140px; 
    background-color: lightgrey;
    box-sizing: border-box; 
    border: solid;  
    border-color:black; 
    border-top-width: 30px; 
    border-bottom-width: 20px;
    border-left-width: 15px;
    border-right-width: 15px;
    font-size: 70px; 
    text-align: right; 
    padding: 10px; 
}

#calcArea{
    display: flex; 
    flex-direction: column; 
    width: 320px; 
    height: 400px; 
}

.calcButtons{
    display: flex; 
    width: 400px; 
    height: auto; 
}

#calcNumberButtons{
    display: flex; 
    flex-wrap: wrap; 
    width: 240px; 
    height: 256px;
}

#calcNumberButtons button{
    width: 80px; 
    height: 80px; 
    font-size: 22px; 
    background-color:  grey; 
    color: white; 
    font-style: bold;
}

#calcOperateButtons{
    display: flex; 
    height: 320px; 
    width: 160px; 
    flex-wrap: wrap; 

}


#calcOperateButtons button{
    width: 80px; 
    height: 80px; 
    font-size: 22px; 
    font-style: bold; 
    background-color: grey;
    color: gold; 
    padding: 5px 
}

#calcOperateButtons #equal{
    width: 160px; 
    height: 80px; 
}
